<section class="grid grid-cols-1 bg-zinc-800 bg-gradient-to-br from-zinc-800 to-zinc-900 md:rounded-3xl  text-zinc-400 p-12  place-items-center mt-5 mb-5">
	<h1 class="text-3xl  text-center font-spartan  ">Patrocinado por </h1>
    <a href="https://www.instagram.com/agui_dom/" class="mt-5 flex gap-2  items-center" target="_blank" rel="noopener noreferrer">
        <img src="aguidom.png" class="w-16 h-16" alt="Club aguidom">
        <h2 class="text-balance text-xl font-spartan text-zinc-100">Club aguidom</h2>
    </a>
</section>
